.flex-content {
    position: relative;
    background: #8a0499;
}
.flex-content .banner {
    position: relative;
    width: 100%;
    height: 8.56rem;
    background: url("../images/banner.png") center 0 no-repeat;
    background-size: contain;
}
.flex-content .banner .icon-rule {
    position: absolute;
    top: -0.2rem;
    right: 0;
    width: 1.64rem;
    height: 2.37333333rem;
    z-index: 10;
    cursor: pointer;
}
.flex-content .banner .icon-rule img {
    width: 100%;
}
.flex-content .main-box {
    margin: -1rem auto 1.2rem;
    width: 95.2%;
    height: 3.54666667rem;
}
.flex-content .main-box li {
    position: relative;
    float: left;
    margin: 0 0.93333333%;
    width: 31.37254902%;
    height: 3.54666667rem;
}
.flex-content .main-box li .btn {
    position: absolute;
    bottom: 0.17333333rem;
    left: 8.03571429%;
    display: block;
    margin: 0 auto;
    padding: 0.13333333rem 0;
    width: 84.82142857%;
    height: 0.32rem;
    line-height: 0.32rem;
    font-size: 0.32rem;
    color: #fff;
    text-align: center;
    border-radius: 0.29333333rem;
    background: -webkit-gradient(linear, top left, top right, color-stop(0%, #ff00ac), color-stop(100%, #ff80b1));
    background: linear-gradient(to right, #ff00ac 0%, #ff80b1 100%);
    cursor: pointer;
    z-index: 3;
}
.flex-content .main-box .go-to-prize {
    position: relative;
    height: 3.54666667rem;
}
.flex-content .main-box .go-to-prize .yellow-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.28rem;
    background: #fff4cc;
    -webkit-border-radius: 0.09333333rem;
    border-radius: 0.09333333rem;
    z-index: 2;
}
.flex-content .main-box .go-to-prize .draw-title {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 86.16071429%;
    height: 0.68rem;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 5;
}
.flex-content .main-box .go-to-prize .draw {
    position: relative;
    margin-top: 0.26666667rem;
    padding-top: 0.52rem;
    box-sizing: border-box;
    z-index: 3;
}
.flex-content .main-box .go-to-prize .draw .select {
    position: relative;
    display: inline-block;
    width: 40.17857143%;
    height: 1.54666667rem;
}
.flex-content .main-box .go-to-prize .draw .select .content {
    display: block;
    width: 100%;
    height: 1.2rem;
    background: #fff;
    border-top-left-radius: 0.09333333rem;
    border-top-right-radius: 0.09333333rem;
}
.flex-content .main-box .go-to-prize .draw .select .content-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.2rem;
    background: rgba(0, 0, 0, 0.25);
    border-top-left-radius: 0.09333333rem;
    border-top-right-radius: 0.09333333rem;
    z-index: 2;
}
.flex-content .main-box .go-to-prize .draw .select .text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.34666667rem;
    line-height: 0.34666667rem;
    color: #030303;
    font-size: 0.21333333rem;
    text-align: center;
    background: #ffe671;
    border-bottom-left-radius: 0.09333333rem;
    border-bottom-right-radius: 0.09333333rem;
}
.flex-content .main-box .go-to-prize .draw .lf-select {
    float: left;
    margin: 0 6.25% 0 6.69642857%;
}
.flex-content .main-box .go-to-prize .draw .lf-select .content {
    background: #ffffff url("../images/congratulation.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.flex-content .main-box .go-to-prize .draw .rg-select {
    float: right;
    margin: 0 6.69642857% 0 0;
}
.flex-content .main-box .go-to-prize .draw .rg-select .content {
    background: #ffffff url("../images/thanks.png") center center no-repeat;
    -webkit-background-size: 64.44444444% auto;
    background-size: 64.44444444% auto;
}
.flex-content .main-box .go-to-prize .draw .select .content-mask {
    opacity: 0;
}
.flex-content .main-box .go-to-prize .chance {
    position: relative;
    padding: 0.18666667rem 0 0.06666667rem;
    line-height: 0.24rem;
    color: #010101;
    font-size: 0.24rem;
    text-align: center;
    z-index: 3;
}
.flex-content .main-box .go-to-prize .chance .nums {
    padding-left: .03rem;
    color: #ff3854;
}
.flex-content .main-box .go-to-prize .draw-btn {
    position: relative;
    z-index: 3;
    display: block;
    margin: 0 auto;
    bottom: 0rem;
    padding: 0.13333333rem 0;
    width: 84.82142857%;
    height: 0.32rem;
    line-height: 0.32rem;
    font-size: 0.32rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 0.29333333rem;
    background: -webkit-gradient(linear, top left, top right, color-stop(0%, #ff00ac), color-stop(100%, #ff80b1));
    background: linear-gradient(to right, #ff00ac 0%, #ff80b1 100%);
}
.flex-content .main-box .go-to-prize .draw-over {
    background: #818181;
}
.flex-content .main-box .go-to-invest {
    background: url("../images/grab.png") center center no-repeat;
    background-size: contain;
}
.flex-content .main-box .go-to-exchange {
    background: url("../images/burst.png") center center no-repeat;
    background-size: contain;
}
.flex-content .point-title {
    display: block;
    margin: 0 auto;
    width: 7.78666667rem;
    height: auto;
}
.flex-content .my-tips {
    position: relative;
    margin: 1.14666667rem auto 0.53333333rem;
    width: 100%;
    text-align: center;
}
.flex-content .my-tips .my-prize {
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-right: 2.93333333%;
    width: 34.13333333%;
    font-size: 0.37333333rem;
    color: #8a0499;
    border-radius: 0.13333333rem;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #ffe4be), color-stop(70%, #ff9702));
    background: linear-gradient(to bottom, #ffe4be 15%, #ff9702 70%);
}
.flex-content .my-tips .my-prize .my-prize-icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.18666667rem;
    margin-right: 0.10666667rem;
    width: 0.33333333rem;
    height: 0.4rem;
    background: url("../images/my-prize-icon.png") center center no-repeat;
    background-size: 100% 100%;
}
.flex-content .my-tips .my-rate {
    position: relative;
    display: inline-block;
    width: 50.66666667%;
    height: 0.8rem;
    line-height: 0.8rem;
    cursor: pointer;
    text-align: left;
    background: #750482;
    border-radius: 0.13333333rem;
}
.flex-content .my-tips .my-rate .money-txt {
    padding-left: 0.32rem;
    font-size: 0.32rem;
    color: #fff;
}
.flex-content .my-tips .my-rate .money {
    color: #f00;
    font-size: 0.32rem;
}
.flex-content .my-tips .my-rate .money-icon {
    display: block;
    position: absolute;
    top: 0;
    margin-top: 0.18666667rem;
    right: 0.13333333rem;
    width: 0.42666667rem;
    height: 0.42666667rem;
    background: url("../images/icon-tips.png") center center no-repeat;
    background-size: contain;
}
.flex-content .my-tips .my-rate .money-icon .formula {
    display: none;
    position: absolute;
    top: -1.047rem;
    right: -0.14rem;
    padding: 0 0.2rem;
    /*width: 6.61333333rem;*/
    width: 1580%;
    height: 0.8rem;
    text-align: center;
    color: #000;
    font-size: 0.32rem;
    background: #fff;
    box-sizing: border-box;
    border-radius: 0.13333333rem;
}
.flex-content .my-tips .my-rate .money-icon .trans {
    display: none;
    position: absolute;
    right: 0.05rem;
    top: -0.25rem;
    width: 0;
    height: 0;
    border-left: 0.14rem solid rgba(0, 0, 0, 0);
    border-right: 0.14rem solid rgba(0, 0, 0, 0);
    border-top: 0.24rem solid #fff;
}
.flex-content .invest-box {
    margin: 0 auto;
    width: 89.6%;
    height: auto;
}
.flex-content .invest-box li {
    float: left;
    margin-top: 0.42666667rem;
    width: 48%;
}
.flex-content .invest-box li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.flex-content .invest-box li a img {
    width: 100%;
}
.flex-content .invest-box li a .title-gifts {
    position: absolute;
    top: 0.26666667rem;
    left: 0.42666667rem;
    display: inline-block;
    color: #fff;
    font-size: 0.32rem;
}
.flex-content .invest-box li:nth-child(2n) {
    margin-right: 2%;
}
.flex-content .invest-box li:nth-child(2n+1) {
    margin-left: 2%;
}
.flex-content .invest-box li:first-child {
    margin: 0;
    width: 100%;
}
.flex-content .prize-list {
    position: relative;
    margin: 1.89333333rem auto 0;
    padding: 1.05333333rem 0 0.21333333rem;
    width: 88.53333333%;
    background-color: #750482;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.35);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.35);
    border-radius: 0.4rem;
}
.flex-content .prize-list .prize-list-title {
    position: absolute;
    top: -0.72rem;
    left: 50%;
    width: 5.44rem;
    line-height: 1.36rem;
    height: 1.36rem;
    color: #fff;
    font-style: italic;
    font-size: 0.74666667rem;
    text-align: center;
    border: 0.04rem solid #790486;
    border-radius: 1.38666667rem;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d761fe), color-stop(100%, #ab0de4));
    background: linear-gradient(to bottom, #d761fe 0%, #ab0de4 100%);
}
.flex-content .prize-list .list {
    margin: 0 auto;
    width: 84.63855422%;
    max-height: 5.73333333rem;
    overflow: hidden;
}
.flex-content .prize-list .list li {
    width: 100%;
    height: 1.14666667rem;
    line-height: 1.14666667rem;
    border-bottom: 1px dashed #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.flex-content .prize-list .list li span {
    font-size: 0.4rem;
    color: #fff;
    width: auto;
    display: inline-block;
}
.flex-content .prize-list .list li .phone {
    float: left;
}
.flex-content .prize-list .list li .name {
    float: right;
}
.flex-content .prize-list .list li:last-child {
    border: none;
}
.flex-content .bottom-tip {
    width: 100%;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    font-size: 0.32rem;
    color: #fff;
}
.flex-content .register-bg {
    width: 100%;
    height: 2.4rem;
}
.flex-content .register {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    margin: 0 auto;
    max-width: 10rem !important;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 10;
    cursor: pointer;
}
.flex-content .register img {
    float: left;
    height: 2.4rem;
}
.prizes-box {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.6);
}
.prizes-box .outer-box {
    display: none;
    width: 6.53333333rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    color: #fff;
    background: #fef7d6;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    border-radius: 0.10666667rem;
}
.prizes-box .outer-box .img-icon {
    display: block;
    margin-top: 0.82666667rem;
    margin-left: 2.77333333rem;
    width: 1.45333333rem;
    height: 1.90666667rem;
}
.prizes-box .outer-box .txt {
    color: #595757;
    font-size: 0.32rem;
    text-align: center;
}
.prizes-box .outer-box .pop-btn {
    display: block;
    margin: 0 auto;
    width: 4.97333333rem;
    height: 1.06666667rem;
    line-height: 1.06666667rem;
    color: #fff;
    text-align: center;
    font-size: 0.4rem;
    border-radius: 0.46666667rem;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a706e2), color-stop(100%, #d966ff));
    background: linear-gradient(to bottom, #a706e2 0%, #d966ff 100%);
}
.prizes-box .outer-box .congrats-title {
    position: relative;
    width: 100%;
}
.prizes-box .outer-box .congrats-title img {
    position: absolute;
    top: -1rem;
    left: 50%;
    width: 7.92rem;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.prizes-box .no-active-status {
    display: none;
    padding-bottom: 0.34666667rem;
}
.prizes-box .no-active-status .txt {
    margin-bottom: 0.82666667rem;
    line-height: 0.82666667rem;
}
.prizes-box .no-have-chance {
    display: none;
    padding-bottom: 0.34666667rem;
}
.prizes-box .no-have-chance .img-icon {
    margin-top: 0.66666667rem;
    margin-left: 2.56rem;
    width: 1.45333333rem;
    height: 1.90666667rem;
}
.prizes-box .no-have-chance .txt {
    margin-bottom: 0.66666667rem;
    line-height: 0.50666667rem;
    text-align: center;
    font-size: 0.32rem;
    color: #595757;
}
.prizes-box .thanks {
    display: none;
    padding-bottom: 0.34666667rem;
}
.prizes-box .thanks .txt {
    padding: 0.84rem 0 0.74666667rem;
    height: 0.32rem;
}
.prizes-box .snack {
    display: none;
    padding-bottom: 0.34666667rem;
}
.prizes-box .snack .img-snack {
    margin: 1.61333333rem auto 0.21333333rem;
    display: block;
    width: 3.12rem;
    height: 2.84rem;
}
.prizes-box .snack .snack-txt {
    line-height: 0.48rem;
    text-align: center;
    font-size: 0.32rem;
    color: #595757;
}
.prizes-box .snack .snack-txt span {
    line-height: 0.48rem;
    font-size: 0.48rem;
    color: #c745f5;
}
.prizes-box .snack .snack-smart-txt {
    margin-bottom: 0.13333333rem;
    padding: 0.17333333rem 0;
    line-height: 0.24rem;
    text-align: center;
    font-size: 0.24rem;
    color: #595757;
}
.prizes-box .snack .pop-btn {
    font-size: 0.4rem;
}
.prizes-box .congrats {
    display: none;
    padding-bottom: 0.37333333rem;
}
.prizes-box .congrats .congrats-txt {
    margin-top: 2.13333333rem;
    line-height: 0.50666667rem;
    text-align: center;
    font-size: 0.32rem;
    color: #595757;
}
.prizes-box .congrats .congrats-smart-txt {
    margin-bottom: 0.61333333rem;
    line-height: 0.45333333rem;
    text-align: center;
    font-size: 0.24rem;
    color: #595757;
}
.prizes-box .congrats .pop-btn {
    font-size: 0.4rem;
}
.prizes-box .congrats .bottom-txt {
    padding-top: 0.4rem;
    line-height: 0.32rem;
    text-align: center;
    font-size: 0.32rem;
    color: #3591e6;
}
.prizes-box .pop-my-prize {
    display: none;
    padding-bottom: 0.53333333rem;
}
.prizes-box .pop-my-prize .congrats-txt {
    padding: 2.48rem 0 1.05333333rem;
    font-size: 0.32rem;
    text-align: center;
    color: #595757;
}
.prizes-box .have-prize {
    display: none;
    padding-bottom: 0.37333333rem;
}
.prizes-box .have-prize .have-prize-list {
    margin: 1.62666667rem auto 0;
    width: 5.86666667rem;
}
.prizes-box .have-prize .have-prize-list li {
    width: 100%;
    border-bottom: 1px dashed #d2d2d2;
    overflow: hidden;
}
.prizes-box .have-prize .have-prize-list li:last-child {
    border-bottom: none;
}
.prizes-box .have-prize .have-prize-list li img {
    display: inline-block;
    margin: 0.2rem 0.18666667rem 0.2rem 0.26666667rem;
    vertical-align: top;
    width: 1.68rem;
    height: 1.6rem;
}
.prizes-box .have-prize .have-prize-list li span.name {
    display: inline-block;
    line-height: 0.02933333rem;
    font-size: 0.32rem;
    color: #000;
}
.prizes-box .have-prize .have-prize-list li i.numbers {
    display: inline-block;
    line-height: 2.2rem;
    font-size: 0.32rem;
    color: #f00;
}
.rules-box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0.97333333rem 0.93333333rem 0;
    background-color: #fef3d0;
    color: #4c4c4c;
    z-index: 1000;
    box-sizing: border-box;
    overflow: auto;
}
.rules-box .rules-title {
    height: 0.45333333rem;
    line-height: 0.45333333rem;
    font-size: 0.45333333rem;
    text-align: center;
}
.rules-box .rules-list {
    margin-top: 0.86666667rem;
}
.rules-box .rules-list li {
    position: relative;
    font-size: 0.32rem;
    line-height: .64rem;
    list-style-type: none;
}
.rules-box .rules-list p {
    font-size: 0.32rem;
    line-height: .64rem;
}
.rules-box .rules-list p.detail-rule {
    padding: 0 0 0 0.42666667rem;
}
.rules-box .rules-list li .lf-num {
    position: absolute;
    left: 0;
    top: 0;
}
.rules-box .rules-btn {
    width: 3.61333333rem;
    height: 0.84rem;
    line-height: 0.84rem;
    margin: 0.85333333rem auto 0.5rem;
    border: 1px solid #ad8316;
    -webkit-border-radius: 0.10666667rem;
    -moz-border-radius: 0.10666667rem;
    border-radius: 0.10666667rem;
    font-size: 0.4rem;
    color: #ad8316;
    text-align: center;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0.8;
        -webkit-transform: none;
    }
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, -12%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0.8;
        transform: none;
    }
    80% {
        opacity: 1;
        transform: translate3d(0, -12%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInDown {
    -webkit-animation: fadeInDown 0.9s ease-in-out;
    animation: fadeInDown 0.9s ease-in-out;
}
@-webkit-keyframes fadeShowLeft {
    0%,20%,40%,60%,80%,100% {
        opacity: 1;
    }
    10%,30%,50%,70%,90% {
        opacity: 0;
    }
}
@keyframes fadeShowLeft {
    0%,20%,40%,60%,80%,100% {
        opacity: 1;
    }
    10%,30%,50%,70%,90% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeShowRight {
    0%,20%,40%,60%,80%,100% {
        opacity: 0;
    }
    10%,30%,50%,70%,90% {
        opacity: 1;
    }
}
@keyframes fadeShowRight {
    0%,20%,40%,60%,80%,100% {
        opacity: 0;
    }
    10%,30%,50%,70%,90% {
        opacity: 1;
    }
}
.fadeShowLeft {
    -webkit-animation: fadeShowLeft 1s ease-in-out;
    animation: fadeShowLeft 1s ease-in-out;
}
.fadeShowRight {
    -webkit-animation: fadeShowRight 1s ease-in-out;
    animation: fadeShowRight 1s ease-in-out;
}